.root {
    -fx-font-family: "Microsoft JhengHei UI";
    -fx-font-size: 11.588235294117645px;
    -fx-base: #30A0FF;
    -fx-background: #3A3A3A;
    -fx-focus-color: #000000;
    -fx-control-inner-background: #C6C6C6;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,-20.237288135593218%) 0%, derive(-fx-color,-34.949152542372886%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, -20.237288135593218%) 0%, derive(-fx-color, -21.932203389830505%) 50%, derive(-fx-color, -34.949152542372886%) 100%);
    -fx-outer-border: derive(-fx-color,-15.593220338983059%);
    -fx-shadow-highlight-color: derive(-fx-background,11.52542372881355%);
    -fx-text-box-border: derive(-fx-background,28.474576271186436%);
    
   
    -fx-background-image: url("../imagenes/fondo.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#panelDerecho{
	-fx-font-family: "Microsoft JhengHei UI";
    -fx-font-size: 11.588235294117645px;
    -fx-base: #30A0FF;
    -fx-background: #3A3A3A;
    -fx-focus-color: #000000;
    -fx-control-inner-background: #C6C6C6;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,-20.237288135593218%) 0%, derive(-fx-color,-34.949152542372886%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, -20.237288135593218%) 0%, derive(-fx-color, -21.932203389830505%) 50%, derive(-fx-color, -34.949152542372886%) 100%);
    /*-fx-outer-border: derive(-fx-color,-15.593220338983059%);*/
    /*-fx-shadow-highlight-color: derive(-fx-background,11.52542372881355%);
    -fx-text-box-border: derive(-fx-background,28.474576271186436%);*/
   
    /*-fx-background-image: url("../imagenes/fondo.png");*/
    -fx-background-repeat: stretch;   
    -fx-background-size: 1280 720;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
}

.split-pane{
	-fx-background-image: url("../imagenes/fondo.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.button, .toggle-button, .choice-box {
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 8px 15px 8px 15px;
}
.menu-button {
    -fx-background-radius: 5, 5, 4, 3;
}
.menu-button .label {
    -fx-padding: 8px 23px 8px 15px;
}
.menu-button .arrow-button {
    -fx-padding: 8px 11px 8px 0px;
}
.choice-box {
    -fx-padding: 0 11px 0 0;
}
.choice-box .label {
    -fx-padding: 8px 9px 8px 11px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 13px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 8px 11px 8px 11px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
